<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<%- include('../layout/head'); %>
<style>

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}
/* Ẩn các slider */
.mySlides {
    display: none;
}
/* Định dạng nội dung Caption */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
 
/* định dạng các chấm chuyển đổi các slide */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
  background-color: #717171;
}
 
/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
 
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
</style>

</head>


<body>

<table>
<tr>
<td>
<header>
<%- include('../layout/header'); %>
</header>
</td>
</tr>
<tr>
<td>
<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="./images/banner1.png" style="width:100%">
   
  </div>
 
  <div class="mySlides fade">
    <img src="./images/banner2.png" style="width:100%">
    
  </div>
 
  <div class="mySlides fade">
    <img src="./images/banner3.jpg" style="width:100%">
    
  
</div>
<br>
 
</div>
  <div style="text-align:center">
  <span class="dot" onclick="currentSlide(0)"></span> 
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
</div></td>
</tr>
<tr><td>
<div align="center">
<table >
	<tr>
		<td>
			<img src="images/sub1.jpg"
		</td>
		<td rowspan="2">
			<img src="images/sub3.gif"
		</td>
		<td>
			<img src="images/sub4.jpg"
		</td>
	</tr>
	<tr>
		<td>
			<img src="images/sub2.jpg"
		</td>
		<td>
			<img src="images/sub5.jpg"
		</td>
	</tr>
	
</table>

</div>
                      

<div align="center">
  <table  cellspacing="50">
    <tr align="center">
            <td>
              <% for(var i=0; i<dslsp.length;i++){ %>
              <a href='/<%=dslsp[i].maloai%>'><img src="images/category/<%=dslsp[i].maloai%>.jpg"></a>  <% } %>
            </td>

     </tr>
     <tr valign="top" align="center" >
      <td style="padding-left: 50">
       <table  cellspacing="100" align="center" width="100%">
          <% for(var i=0;i<dssp.length;i++){
       if(i%4==0){ %>
    <tr>
    <% } %>
    <td style="text-align: center;" colspan="1" width="25%"><a href='/chitiet/<%=dssp[i].masp%>'><img src="/images/<%=dssp[i].maloai%>/<%=dssp[i].hinh%>" height="200px" width="200px"></a><br>
	<a href='/muasanpham/<%= dssp[i].masp%>'><i class="fas fa-cart-plus"></i></a><br>
    <%= dssp[i].tensp %><br>Giá: <%= dssp[i].giaban %>đ<br></td>
        <% if((i+1)%4==0){ %>
         </tr>
         <% } %> 
      <% } %>
        </table>
      </td>
    </tr>
  </table>

</div>
<br>
<div align="center">
	<button style="background-color:#ff9933; padding: 10px "><a href="/mockhoa" style="display: block; color: #ffffff">Xem Tất Cả Sản Phẩm </a></button>
</div>
<br><br><hr><br>
<h2 style="color:#ff0000" align="center">BÀI VIẾT</h2>
<div align="center">
 
       <table  cellspacing="100" align="center" width="100%">
          <% for(var i=0;i<posts.length;i++){
       if(i%4==0){ %>
    <tr>
    <% } %>
    <td style="text-align: center;" colspan="1" width="25%"><a href='/baiviet/<%=posts[i].mabv%>'><img src="/images/post/<%=posts[i].hinh%>" height="200px" width="200px"></a><br><span style="font-size:10px"><%=posts[i].ngaydang%></span><br>
   <span style="color:#ff0000"> <%= posts[i].tenbv %></span><br><br></td>
        <% if((i+1)%4==0){ %>
         </tr>
         <% } %> 
      <% } %>
        </table>


</div>

<div class="position-fixed" style="right: 10px; bottom: 10px;"><a href="#top"><i class="fa fa-chevron-circle-up fa-4x"></i></a></div>



<footer>
<%- include('../layout/footer'); %>
</footer></td>
</tr>
</table>
</body>
<script type="text/javascript">
  //khai báo biến slideIndex đại diện cho slide hiện tại
  var slideIndex;
  // KHai bào hàm hiển thị slide
  function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
         slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
 
      slides[slideIndex].style.display = "block";  
      dots[slideIndex].className += " active";
      //chuyển đến slide tiếp theo
      slideIndex++;
      //nếu đang ở slide cuối cùng thì chuyển về slide đầu
      if (slideIndex > slides.length - 1) {
        slideIndex = 0
      }    
      //tự động chuyển đổi slide sau 3s
      setTimeout(showSlides, 3000);
  }
  //mặc định hiển thị slide đầu tiên 
  showSlides(slideIndex = 0);
 
 
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
</script>
ư
</html>

